/*Gallery.html:CSS*/
#gallery_content{
    width: 100%;
    min-width: 1080px;
    margin: 0 auto;
    position: relative;
}
#gallery_content_wrap{
    width: 1080px;
    margin: auto;
    position: relative;
    padding-top: 64px;
}

#gallery_content_nav{
    width: 606px;
    background: white;
    margin: auto;
    position: absolute;
    left: -1px;
    top: 24px;
}
#gallery_content_nav li{
    float: left;
    text-align: center;
    line-height: 40px;
    position: relative;
}
#gallery_content_nav li a{
    display: block;
    width: 120px;
    height: 40px;
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    color: #666666;
    /*border-top: 3px solid #b3d4fc;*/
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
#gallery_content_nav li a::before{
    content: "";
    width: 120px;
    height: 3px;
    display: block;
    background: #b3d4fc;
    position: absolute;
}
#gallery_content_nav li a:hover{
    border-bottom: none;
}
#gallery_content_nav a:hover::before{
    background: #a660b7;
}
#gallery_content_right{
    float: left;
    width: 700px;
    background: #ffffff;
}
#gallery_content_left{
    float: right;
    width: 300px;
}
.gallery_content_right_item{
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}
#blog_content_left_search_box{
    height: 80px;
    background: #fff;
    text-align: center;
    position: relative;
}
#blog_content_left_search_input{
    width: 200px;
    height: 40px;
    border: 1px solid #eeeeee;
    outline: none;
    margin-top: 18px;
    text-indent: 3em;
}
#blog_content_left_search_box img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 34px;
    top: 30px;
}
#search_btn{
    width: 56px;
    height: 42px;
    background: #eeeeee;
    position: relative;
    right: 5px;
    color: #fff;
    border: 1px solid #eeeeee;
}
.gallery_content_right_item a{
    margin: 0 auto;
}
.gallery_item_width1{
    width: 320px;
}
.gallery_item_width2{
    width: 160px;
    margin-right: 10px;
}
.gallery_content_right_item p{

}
#gallery_content_left_chart{
    width: 300px;
    background: #ffffff;
    margin-top: 20px;
}
#gallery_content_left_chart h2{
    padding: 20px 0px 30px 20px;
    font-size: 20px;
    font-weight: normal;
    color: #999999;
}
#gallery_content_left_chart p{
    margin-left: 10px;
    margin-top: 10px;
    line-height: 30px;
}
#gallery_content_left_chart p span{
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    border-radius: 20px;
    background: #a660b7;
    float: left;
    color: #ffffff;


}
#gallery_content_left_chart p em{
    width: 180px;
    height: 30px;
    display: block;
    background: #a660b7;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}